<section class="flex flex-col gap-4 w-full h-auto mb-4">
  <!-- Divisor -->
  <mat-divider class="w-full opacity-50" [vertical]="false"></mat-divider>

  <!-- Colors List -->
  <div class="flex flex-wrap justify-center items-center px-4 gap-4 ">

    @for (category of categories(); track category.id) {
        <span class="flex items-center justify-center {{ categoryColorsBackground[category.color] }} px-4 py-2 rounded-md text-center text-white font-semibold">
            {{ category.name }}
        </span>
    }

  </div>

</section>
